
$bg-all: #2A3F54;
$font-color-all: #73879C;
$a-link-color: #5A738E;
$a-link-color-hover:#425567;
$bg-side-bar-footer: #172D44;
$bg-footer: #ffffff;
$bg-col-right: #F7F7F7;
$bg-nav-menu: #EDEDED;
$color-nav-border: #D9DEE4;
$color-primary: #1ABB9C;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    color: $font-color-all;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-weight: 400;
    line-height: 1.471;
    background: $bg-all;
}

a {
    color: $a-link-color;
}

.sidebar-footer a:hover {
    background: $a-link-color-hover;
    color: $font-color-all;
}

#img-user{
    width: 29px;
    height: 29px;
    border-radius: 50%;
}

.container-fluid {
    width: 100%;
    padding: 0;
}

.nav-title {
    width: 230px;
    height: 63.531px;
}

.nav-sm .nav-title {
    width: 70px;
}

.nav-sm .nav-title a span {
    display: none;
}

.nav-sm .nav-title a i {
    font-size: 27px;
    margin: 13px 0 0 3px;
}

.site-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    line-height: 59px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.nav-toggle {
    float: left;
    margin: 0;
    width: 70px;
    a {
        padding: 15px 15px 0;
        margin: 0;
        font-size: 26px;
        cursor: pointer;
    }
}

.nav-menu {
    background: $bg-nav-menu;
    border-bottom: 1px solid $color-nav-border;
    width: 100%;
}

.col-left {
    z-index: 9999;
    background: $bg-all;
    padding: 0;
    position: absolute;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    transition: width, left, right, 0.4s;
}

.col-center {
    display: block;
    transition: width, left, right, 0.4s;
}

.col-right {
    background: $bg-col-right;
    padding: 10px;
    min-height: calc( 100vh - 114.531px );
    transition: width, left, right, 0.4s;

}

footer {
    background: $bg-footer;
    padding: 15px 20px;
    display: block;
    height: 50px;
    transition: width, left, right, 0.4s;
    .footer {
        display: block;
        text-align: right;
        font-size: 12px;
    }

}

.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    color:  $a-link-color;
    &:hover {
        color: $a-link-color-hover;
    }
}

.divider{
    background-color: currentColor;
    opacity: .25;
    margin: 0;
}

.sidebar-footer {
    bottom: 0;
    clear: both;
    display: flex;
    width: 230px;
    position: fixed;
    background: $bg-all;
    justify-content: space-around;

}

.sidebar-footer a {
    padding: 10px 10px;
    text-align: center;
    width: 25%;
    font-size: 20px;
    background: $bg-side-bar-footer;
    cursor: pointer;
}

.nav-md {
    .col-left {
        width: 230px;
    }
    
    .col-center {
        margin-left: 230px;
    }
    
    .col-right {
        margin-left: 230px;
    }

    footer {
        margin-left: 230px;
    }
}

.nav-sm {
    .col-left {
        width: 70px;
    }
    
    .col-center {
        margin-left: 70px;
    }
    
    .col-right {
        margin-left: 70px;
    }

    footer {
        margin-left: 70px;
    }
}


.clearfix:after, form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.username, .divider {
    display: none;
}

@include media-breakpoint-down(lg) {
    .nav-md .col-right, .nav-md .col-center, .nav-md footer {
        width: 100%;
        margin: 0;
    }

    #user-name {
        display: none;
    }

    .username {
        padding: 5px;
        display: block;
    }
    
    .divider {
        display: block;
    }

    .nav-md .col-left {
        display: none;
    }
       
    footer .footer {
        text-align: center;
    }

}


.nav-sm .hidden-small {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: width, left, right, 1.5s;
}

.nav-md .hidden-small {
    height: auto; 
    opacity: 1;
    transition: width, left, right, 1.5s;
}

.sidebar{

    top: 0;
    left: 0;
    background: $bg-all;
    z-index: 100;
    transition: all 0.4s ease;
}

.nav-md .sidebar{
    width: 230px;
}

.nav-sm .sidebar{
    width: 70px;
}

.sidebar .nav-links{
    height: 100%;
    padding: 0px;
    overflow: auto;
}

.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}

.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li.active{
    background-color: rgba(255,255,255,0.06);
}

.sidebar .nav-links li:hover{
    background-color: rgba(255,255,255,0.06);
}

.sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i{
    height: 50px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
    color: rgba(255,255,255,0.75);
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.sidebar .nav-links li.showMenu i.arrow{
    /*transform: rotate(-180deg);*/
}

.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name{
    font-weight: 400;
    color: rgba(255,255,255,0.75);
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    background: $bg-all;
    display: none;

    li:hover
    {
        background: none;
        a {
            color: #fff
        }
    }   
}

.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}

.sidebar .nav-links li .sub-menu a{
    color: rgba(255,255,255,0.75);
    font-size: 13px;
    padding: 5px 0;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}

.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.nav-sm .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}
  
  
.nav-sm .sidebar .nav-links{
    overflow: visible;
}

.nav-sm .sidebar .nav-links li .iocn-link{
    display: block
}

.nav-sm .sidebar .nav-links i.arrow{
    display: none;
}

.nav-sm .sidebar .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}

.nav-sm .sidebar .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 7px 20px;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.nav-sm .sidebar .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.nav-sm .sidebar .nav-links li .sub-menu .link_name{
    font-size: 15px;
    opacity: 1;
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000;
}